@font-face {
font-family: 'ralewaybold';
src: url('../fonts/Raleway-Bold_0.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'ralewayregular';
src: url('../fonts/Raleway-Regular_0.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'verdana';
src: url('../fonts/verdana.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'verdanabold';
src: url('../fonts/verdanabold.ttf');
font-weight: normal;
font-style: normal;
}
